<%- include("templates/header", {title: "Home" }) %>

    <div class="container mb-4 mt-2">
        <h1 class="text-primary">
            <%= bodyTitle %>
        </h1>
        <h2>
            <%= bodyContent %>
        </h2>
    </div>

    <%- include("templates/footer") %>