<div class="text-white bg-dark text-center p-3 mb-2 mt-1" role="alert">
    <a style="color: yellow" href="">Orion3</a> - By: Roberto Pinheiro -
    Copyright
    &copy;
    <?php echo date('Y'); ?> - Todos os direitos reservados.
</div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>

</html>